.container {
    width: 100%;
    height: auto;
    background-color: #eff3f5;
}

.main {
    width: 1072px;
    // 1072 + 8 + 8;
    width: 1088px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.list {
    display: flex;
    padding-top: 20px;
    width: 100%;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    //   justify-content: space-between;
    li {
        margin: 0 4px;
        margin-bottom: 8px;
    }
}

.vue-design-item {
    width: 264px;
    height: 228px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.3s;
    transform: translateY(0px);
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid #cad7de;
        background-color: rgba(255, 255, 255, 1);
        transform: translateY(-5px);
        .vue-design-item-thumb a {
            opacity: 1;
        }
    }
}

.vue-design-item-inner {
    width: 256px;
    height: 220px;
    position: relative;
}

.vue-design-item-thumb {
    // background
    width: inherit;
    height: 0;
    padding-top: 50%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-color: #e5eaed;
    z-index: 0;
}

.vue-design-item-thumb a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.vue-design-item-info {
    padding: 18px 8px 8px 8px;
    height: 94px;
    z-index: 0;
    position: relative;
    h5,
    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: rgba(128, 128, 128, 1);
    }
    h5 {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
    }
    p {
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        margin-top: 1px;
    }
}

.vue-design-item-tools {
    height: 28px;
    width: 100%;
    top: 114px;
    left: 0;
    position: absolute;
    padding: 0 8px;
    z-index: 3;
    dl {
        display: flex;
        justify-content: space-between;
        width: inherit;
        height: inherit;
        dd,
        dt {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #eff3f5;
            cursor: pointer;
        }
        dt {
            img {
                display: block;
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.vue-design-item-tags {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 4px;
    span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        background-color: rgba(225, 233, 237, 1);
        margin-right: 6px;
        border-radius: 2px;
        color: rgba(128, 128, 128, 1);
        font-size: 12px;
    }
}

.page {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.more {
    display: flex;
    width: 528px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    &::after,
    &::before {
        content: '';
        display: inline-flex;
        width: 200px;
        height: 1px;
        background-color: #e5eaed;
        flex: 1;
    }
}

.more-link {
    font-size: 14px;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    &:hover {
        // background-color: #fff;
        color: #3d7eff;
    }
}
