// nav
.nav {
  background-color: #fff;
  min-height: 40px;
  display: flex;
  margin: 0 8px;
  margin-top: 20px;
  overflow: hidden;
  padding: 8px;
  > ul {
    margin: 0;
  }
}

.tabs,
.tags {
  height: 24px;
  display: flex;
  align-items: center;
  li {
    cursor: pointer;
    span {
      color: #808080;
      display: inline-block;
      padding: 0 12px;
      font-size: 14px;
    }
    &.active {
      span {
        color: #3d7eff;
      }
    }
  }
}

.tabs {
  background-color: #eff3f5;
  border-radius: 2px;
  overflow: hidden;
  li {
    height: 24px;
    display: flex;
    align-items: center;
    &.active {
      background-color: #fff;
      border: 1px solid #eff3f5;
    }
  }
}

.tags {
  height: 24px;
  display: flex;
  margin-left: 12px;
  li {
    margin: 0 4px;
  }
}
