.modal-auth-header {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    h5 {
        font-size: 16px;
        color: #666;
        margin: 0;
        height: 24px;
        line-height: 24px;
    }
    span {
        color: #999;
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: #1890ff;
        }
    }
}
