.container {
    width: 264px;
    height: 228px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.3s;
    transform: translateY(0px);
    &:hover {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid #cad7de;
        background-color: rgba(255, 255, 255, 1);
        // transform: translateY(-5px);
        .thumb a {
            opacity: 1;
        }
    }
}

.inner {
    width: 256px;
    height: 220px;
    position: relative;
}

.thumb {
    // background
    width: inherit;
    height: 0;
    padding-top: 50%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-color: #e5eaed;
    z-index: 0;
}

.thumb a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.info {
    padding: 18px 8px 8px 8px;
    height: 94px;
    z-index: 0;
    position: relative;
    h5,
    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: rgba(128, 128, 128, 1);
        margin: 0;
    }
    h5 {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
    }
    p {
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        margin-top: 1px;
    }
}

.tools {
    height: 28px;
    width: 100%;
    top: 114px;
    left: 0;
    position: absolute;
    padding: 0 8px;
    z-index: 3;
    dl {
        display: flex;
        justify-content: space-between;
        width: inherit;
        height: inherit;
        dd,
        dt {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #eff3f5;
            cursor: pointer;
        }
        dt {
            .avatar {
                display: block;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        dd {
            span {
                display: inline-flex;
            }
        }
    }
}

.tags {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 4px;
    span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        background-color: rgba(225, 233, 237, 1);
        margin-right: 6px;
        border-radius: 2px;
        color: rgba(128, 128, 128, 1);
        font-size: 12px;
    }
}
