.container {
    width: 256px;
    position: fixed;
    font-size: 14px;
    height: calc(100vh - 162px);
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    // background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    display: none;
    // transition: all 0.3s;

    h5 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #666;
        cursor: pointer;
        font-size: 14px;
        margin-bottom: 0;
        line-height: 2em;
        border-radius: 3px;
        a {
            color: #666;
        }
        &.active {
            a {
                color: #3d7eff;
            }
        }
    }
    ul {
        padding-left: 16px;
    }
}

.header {
    border-bottom: 1px solid #ddd;
    height: 48px;
    line-height: 48px;
    h4 {
        color: #333;
    }
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    padding-top: 10px;
    > ul {
        padding-left: 0;
    }
}
