.container {
  width: 100%;
  height: auto;
  background-color: #eff3f5;
}

.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  position: relative;
}

.main {
  position: relative;
  width: 100%;
  padding: 0 32px;
  // 1072 + 8 + 8 + 64;
  max-width: 1152px;
  margin: 0 auto;
  padding-bottom: 16px;
  display: flex;
  margin-top: 16px;
  min-height: calc(100vh - 64px);
}

.article {
  flex: 1;
  background-color: #fff;
  padding: 0 24px;
  h1 {
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    padding-top: 16px;
    margin-bottom: 0;
  }
}

.meta {
  color: #666;
  font-size: 12px;
  border-top: 1px dashed #ddd;
  padding: 4px 0;
}

.content {
  margin-top: 32px;
}

.aside {
  width: 256px;
  height: 400px;
  background-color: aliceblue;
  margin-left: 20px;
}
