.container {
  width: 100%;
  height: auto;
  background-color: #eff3f5;
}

.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  position: relative;
}

.main {
  position: relative;
  width: 100%;
  padding: 0 32px;
  // 1072 + 8 + 8 + 64;
  max-width: 1152px;
  margin: 0 auto;
  padding-bottom: 16px;
  display: flex;
  margin-top: 16px;
  min-height: calc(100vh - 64px);
}

.article {
  flex: 1;
  background-color: #fff;
  padding: 0 24px;
  h1 {
    font-size: 24px;
    line-height: 48px;
    margin-top: 16px;
    margin-bottom: 0;
    flex: 1;
  }
}

.title {
  display: flex;
}

.link {
  width: 80px;
  margin-left: 16px;
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  height: 48px;
  align-items: center;
}

.link-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px dashed #ddd;
  cursor: pointer;
  &:hover {
    border-color: #1890ff;
  }
}

.meta {
  color: #666;
  font-size: 12px;
  //   border-top: 1px dashed #ddd;
  padding: 4px 0;
}

.content {
  margin-top: 32px;
}

.tools {
  display: flex;
  width: 100%;
  height: auto;
  padding: 16px 0;
  justify-content: center;

  ul {
    display: flex;
    width: 300px;
    margin: 0;
  }
  li {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.tools-btn {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px dashed #ddd;
  &:hover {
    border-color: #1890ff;
  }
}

.tools-text {
  display: flex;
  justify-content: center;
  width: 48px;
}

.aside {
  width: 256px;
  height: 400px;
  background-color: aliceblue;
  margin-left: 20px;
}
