.container {
    width: 100%;
    height: 48px;
    background-color: transparent;
}

.top {
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
}

.nav {
    margin: 0;
    a {
        color: rgba(184, 184, 184, 1);
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }

    display: flex;

    li {
        display: flex;
        margin-right: 30px;
        align-items: center;
        a {
            &:hover {
                color: rgba(61, 126, 255, 1);
            }
        }
    }
}

.nav li.active a {
    color: rgba(61, 126, 255, 1);
}

.user {
    display: flex;
    margin: 0;
    > li {
        display: flex;
        align-items: center;
        margin-left: 16px;
        color: #999;
    }
}

.recommend {
    width: 88px;
    height: 24px;
    line-height: 24px;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 24px;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    > span {
        font-size: 12px;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        &.text {
            margin-left: 5px;
        }
    }
    &:hover {
        background-color: #3d7eff;
        span,
        .btn-upload-one {
            color: #fff;
        }
    }
}

.wechat {
    display: flex;
    align-items: center;
}
.wechat-title {
    display: flex;
    > span {
        display: flex;
        align-items: center;
        &.text {
            margin-left: 5px;
            font-size: 14px;
        }
    }
}

.btn {
    cursor: pointer;
}

.text {
    margin-left: 5px;
}

.logo {
    margin: 0;
    height: 24px;
    line-height: 24px;
    width: 136px;

    img {
        display: block;
        height: 24px;
        width: 136px;
    }
}

.mine {
    max-width: 1072px;
    height: 316px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
    padding: 16px;
    margin: 0 auto;
    margin-top: 30px;
}

.mine-setting {
    position: absolute;
    top: 16px;
    right: 16px;
}

.mine-sites {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    li {
        width: 12.5%;
        padding: 8px 0;

        a {
            color: #fff;
            text-decoration: none;
        }

        img {
            width: 20px;
            height: 20px;
        }
        span {
            font-size: 14px;
            margin-left: 8px;
        }
        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
