.container {
    width: 100%;
    height: 500px;
    background-color: #fff;
}
.bg {
    //   background-image: url('/assets/images/header_bg.png');
    position: relative;
    z-index: 1;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
}
.wrapper {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
}
.vue-design-main {
    margin: 0 60px;
}

.top {
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.nav {
    a {
        color: rgba(184, 184, 184, 1);
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }

    display: flex;

    li {
        display: flex;
        margin-right: 30px;
        align-items: center;
        a:hover {
            color: rgba(61, 126, 255, 1);
        }
        &.active a {
            color: rgba(61, 126, 255, 1);
        }
    }
}

.user {
    display: flex;
    > li {
        display: flex;
        align-items: center;
        margin-left: 16px;
        color: rgba(225, 233, 237, 1);
    }
}

.recommend {
    width: 64px;
    height: 24px;
    line-height: 24px;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 24px;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
        font-size: 12px;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        &.text {
            margin-left: 5px;
        }
    }
    &:hover {
        background-color: rgba(255, 255, 255, 1);
        span,
        i {
            color: #3d7eff;
        }
    }
}

.avatar {
    width: 24px;
    height: 24px;
    img.avatar {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}

.wechat {
    display: flex;
    align-items: center;
}
.wechat-title {
    display: flex;
    > span {
        display: flex;
        align-items: center;
        &.text {
            margin-left: 5px;
            font-size: 14px;
        }
    }
}

.btn {
    cursor: pointer;
}

.logo {
    height: 38px;
    margin-top: 30px;
    margin: 0 60px;
    display: flex;
    justify-content: center;
    img {
        height: inherit;
        width: auto;
        margin: 0 auto;
        display: block;
        opacity: 0.5;
    }
}

.mine {
    width: 1088px;
    height: auto;
    // background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.mine-setting {
    position: absolute;
    top: 16px;
    right: 16px;
}

.mine-sites {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li {
        padding: 8px;

        a {
            text-decoration: none;
            display: block;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.6);
            width: 256px;
            height: 64px;
            border-radius: 3px;
            transition: all 0.3s;
            &:hover {
                background-color: #fff;
                dt {
                    span {
                        width: 32px;
                        height: 32px;
                    }
                }

                dd {
                    h4 {
                        color: rgb(61, 126, 255);
                        letter-spacing: 3px;
                    }
                }
            }
        }

        dl {
            display: flex;
            width: 100%;
            padding: 8px;
        }

        dt {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            border-radius: 3px;

            > span {
                display: block;
                width: 24px;
                height: 24px;
                transition: all 0.3s;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
        }

        dd {
            flex: 1;
            overflow: hidden;
        }

        img {
            display: block;
            width: 20px;
            height: 20px;
        }

        p {
            opacity: 0.8;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            margin-bottom: 0;
        }

        h4 {
            color: #111;
            margin-bottom: 2px;
            transition: all 0.3s;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.popper-content {
    width: 180px;
    height: 320px;
    .user-menu-item {
        display: flex;
        align-items: center;
        > span {
            display: inline-block;
            vertical-align: middle;
            display: flex;
            align-items: center;
            &.text {
                margin-left: 6px;
            }
        }
    }
}
.wechat-popper-content {
    width: 200px;
    height: auto;
    img {
        width: 100%;
        height: auto;
    }
}
