.profile-popover-overlay {
    width: 256px;
    .ant-popover-arrow {
        right: 5px !important;
    }
    .ant-popover-inner {
        border-radius: 5px;
    }
}

// .modal-setting {
//     .ant-modal-footer {
//         text-align: left;
//     }
// }
