.container {
    padding: 0;
    background-color: #eff3f5;
}

.top-bg {
    background-color: #fff;
    border-bottom: 1px solid #eff3f5;
    width: 100%;
}

.main {
    width: 1088px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    width: 100%;
    height: auto;
    position: relative;
}
