.container {
    padding: 100px;
    background-color: #eff3f5;
}

.inner {
    width: 800px;
    margin: 0 auto;
    display: flex;
    min-height: 300px;
    background-color: #fff;
    border-radius: 4px;
}

.right {
    flex: 1;
}
.left {
    width: 400px;
}

.left-inner {
    height: 100%;
    padding: 20px 40px 20px 40px;
    border-right: 1px solid #eff3f5;
}
