.container {
  width: 256px;
  height: 400px;
  background-color: aliceblue;
  margin-left: 16px;
}

.profile {
  width: inherit;
  height: 120px;
  background-color: #e5eaed;
  border-radius: 3px;
}

.userinfo {
  width: inherit;
  height: 80px;
  background-color: #fff;
  padding: 16px;
  border-radius: 3px;
  dl {
    display: flex;
  }
  dt {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  dd {
    flex: 1;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
  }
}
